@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome To my Website!</h1>
</div>
<br />
<br />
<div class="img">
    <img src="~/hilton.jpg" />
</div>
<br />
<br />
